body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

/* to remove the top and left whitespace */

html, body {
    width: 100%;
    height: 100%;
}

/* just to be sure these are full screen*/

canvas {
    display: block;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
} /* To remove the scrollbars */
